name: MLops ci

on:
  push:
    branches:
      - main
  pull_requests:
    branches:
      - main

jobs:
  workflows:
    runs-on: ubuntu-latest
    steps:
      - name: code checkout
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: install dependencies
        run: |
          pyhon -m pip install --upgrade pip
          pip install -r requirements.txt